.icon {
  margin: 5px;
  padding: 4px 10px;
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
  color: rgb(85, 179, 207);
  font-size: 25px;
}
.icon:hover {
  background-color: rgb(31, 119, 65);
}
a {
  color: #4092b9;
  margin: 15px 0;
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}
.footer-menu:hover {
  color: rgb(0, 153, 255);
}
.footer-input {
  padding: 8px;
  border: none;
  outline: none;
  background-color: gray;
}
.footer-container {
  background-color: #191919;
  padding: 50px;
  color: rgb(216, 209, 209);
}
.footer-phone-icon {
  font-size: 20px;
  color: rgb(0, 140, 255);
  margin-right: 10px;
}
